<div class="main_form" style="background-color: white; padding-bottom: 20px;">
  <div class="example-container">
    <tabset>
      <tab heading="Problemas" style="background-color: #fcfcfc; padding: 15px; overflow-y: auto; margin-bottom: 50px;">
        Problemas
      </tab>
      <tab heading="Idéias" style="background-color: #fcfcfc; padding: 15px; overflow-y: auto; margin-bottom: 50px;">
        Idéias
      </tab>
      <tab heading="Usuários" style="background-color: #fcfcfc; padding: 15px; overflow-y: auto; margin-bottom: 50px;">
        Usuários
      </tab>
    </tabset>
  </div>
</div>