<div class="main_form" style="background-color: white; padding-bottom: 20px;">
  <div class="example-container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="" (click)="homeLink()">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Usuário</li>
      </ol>
    </nav>
    <tabset>
      <tab heading="Meus Problemas" style="background-color: #fcfcfc; padding: 15px; overflow-y: auto; margin-bottom: 50px;">
        <app-auth-menu-usuarios-listagem-problemas></app-auth-menu-usuarios-listagem-problemas>
      </tab>
      <tab heading="Minhas Idéias" style="background-color: #fcfcfc; padding: 15px; overflow-y: auto; margin-bottom: 50px;">
        <app-auth-menu-usuarios-listagem-ideias></app-auth-menu-usuarios-listagem-ideias>
      </tab>
      <tab heading="Meus Projetos" style="background-color: #fcfcfc; padding: 15px; overflow-y: auto; margin-bottom: 50px;">
        Meus Projetos
      </tab>
    </tabset>
  </div>
</div>