<div class="main_form" style="background-color: white; padding-bottom: 20px;">
  <div class="example-container">
    <tabset>
      <tab heading="Meus Problemas" style="background-color: #fcfcfc; padding: 15px; overflow-y: auto; margin-bottom: 50px;">
        <app-auth-menu-usuarios-listagem-problemas></app-auth-menu-usuarios-listagem-problemas>
      </tab>
      <tab heading="Minhas Idéias" style="background-color: #fcfcfc; padding: 15px; overflow-y: auto; margin-bottom: 50px;">
        <app-auth-menu-usuarios-listagem-ideias></app-auth-menu-usuarios-listagem-ideias>
      </tab>
      <tab heading="Voluntário" style="background-color: #fcfcfc; padding: 15px; overflow-y: auto; margin-bottom: 50px;">
        Voluntário
      </tab>
    </tabset>
  </div>
</div>