<main id="PAGES_CONTAINER" tabindex="-1">
  <div id="SITE_PAGES">
    <div class="_3a3qX">
      <div id="i3ord" class="_2e6ps">
        <div class="_2HjkL"></div>
        <div class="_2S9ms">
          <div id="Containeri3ord" class="_3Mgpu">
            <div data-mesh-id="Containeri3ordinlineContent" data-testid="inline-content" class="">
              <div data-mesh-id="Containeri3ordinlineContent-gridContainer" data-testid="mesh-container-content">
                <div id="comp-km1fwv95" class="_1bOh_">
                  <div class="_1HJvm"></div>
                </div>
                <div id="comp-khme62yv" class="_1mp3l">
                  <div class="_2sExb"></div>
                  <div data-mesh-id="comp-khme62yvinlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="comp-khme62yvinlineContent-gridContainer" data-testid="mesh-container-content"></div>
                  </div>
                </div>
                <div id="comp-km1ey0v8" class="_1Z_nJ" data-testid="richTextElement">
                  <h1 class="font_0" style="font-size: 47px;">
                    <span style="font-size:47px;">
                      <span style="font-weight:bold;">ideiaUCS</span>
                    </span>
                  </h1>
                </div>
                <div id="comp-km1fk9pl" class="_2TxBB" title="">
                  <div data-testid="linkElement" class="_2yXCL">
                    <div id="img_comp-km1fk9pl" class="_1SQyl DFk41">
                      <div class="_1ShVK" style="object-position: 50% 50%;">
                        <svg width="539" height="376" viewBox="0 0 539 376" ref="svgcomp-km1fk9pl" key="svgcomp-km1fk9pl" id="svgcomp-km1fk9pl" version="1.1" role="img" aria-label="startup_edited.png">
                          <defs>
                            <filter id="mask-comp-km1fk9pl-svg-bleach">
                              <feColorMatrix type="matrix" values="0 0 0 0 1
                                                                    0 0 0 0 1
                                                                    0 0 0 0 1
                                                                    0 0 0 1 0"></feColorMatrix>
                            </filter>
                            <mask id="mask-comp-km1fk9pl">
                              <use filter="url(#mask-comp-km1fk9pl-svg-bleach)" id="mask-comp-km1fk9pl-svg-use" xlink:href="#mask-comp-km1fk9pl-svg" width="100%" height="100%" x="0" y="0"></use>
                            </mask>
                            <svg id="mask-comp-km1fk9pl-svg" preserveAspectRatio="none" data-bbox="20 20 160 160" viewBox="20 20 160 160" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="shape">
                              <g>
                                <path d="M180 20v160H20V20h160z"></path>
                              </g>
                            </svg>
                          </defs>
                          <image xlink:href="https://static.wixstatic.com/media/c74d50_a773405521ef45afa38ec0e3aeb816b6~mv2.png/v1/crop/x_0,y_33,w_763,h_532/fill/w_539,h_376,al_c,q_85,usm_0.66_1.00_0.01/startup_edited.webp" key="image" data-type="image" width="539" height="376" preserveAspectRatio="xMidYMid slice" mask="url(#mask-comp-km1fk9pl)" data-svg-mask="mask-comp-km1fk9pl-svg" style="width: 539px; height: 376px; object-fit: cover;"></image>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="comp-km1fkxy1" class="">
                  <div data-testid="svgRoot-comp-km1fkxy1" class="_36XXs _3Qjwl">
                    <svg preserveAspectRatio="none" data-bbox="17.3 68.2 165.3 63.6" xmlns="http://www.w3.org/2000/svg" viewBox="17.3 68.2 165.3 63.6" role="img">
                      <g>
                        <path d="M182.6 68.2v63.6H17.3V68.2h165.3z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div id="comp-km1fq8wp" class="_1Z_nJ" data-testid="richTextElement">
                  <p class="font_8" style="font-size:15px; line-height:1.3em">
                    <span style="letter-spacing:0.03em">
                      <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif">
                        <span style="font-size:15px">
                          <span style="color:#000000">A plataforma ideiaUCS conecta problemas e soluções. Cadastre-se no nosso ambiente e encontre soluções ou indique problemas que gostaria de ver resolvidos.</span>
                        </span>
                      </span>
                    </span>
                  </p>
                </div>
                <div id="comp-km1fz8hx" class="_1mp3l">
                  <div class="_2sExb"></div>
                  <div data-mesh-id="comp-km1fz8hxinlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="comp-km1fz8hxinlineContent-gridContainer" data-testid="mesh-container-content"></div>
                  </div>
                </div>
                <div id="comp-km1fze7q" class="_1mp3l">
                  <div class="_2sExb"></div>
                  <div data-mesh-id="comp-km1fze7qinlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="comp-km1fze7qinlineContent-gridContainer" data-testid="mesh-container-content"></div>
                  </div>
                </div>
                <div id="comp-khme63d5" class="_1mp3l">
                  <div class="_2sExb"></div>
                  <div data-mesh-id="comp-khme63d5inlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="comp-khme63d5inlineContent-gridContainer" data-testid="mesh-container-content"></div>
                  </div>
                </div>
                <div id="comp-km1g0o07" class="_1Z_nJ" data-testid="richTextElement">
                  <h2 class="font_2" style="font-size: 16px;">
                    <span style="font-size:16px;">
                      <span style="font-family:futura-lt-w01-book,sans-serif">
                        <span style="color:#292929">Registre sua ideia</span>
                      </span>
                    </span>
                  </h2>
                </div>
                <div id="comp-km1g1ius" class="_1Z_nJ" data-testid="richTextElement">
                  <h2 class="font_2" style="font-size:16px"><span style="font-size:16px">
                      <span style="font-family:futura-lt-w01-book,sans-serif">
                        <span style="color:#292929">Cadastre-se na plataforma</span>
                      </span>
                    </span>
                  </h2>
                </div>
                <div id="comp-km1g1vrm" class="_1Z_nJ" data-testid="richTextElement">
                  <h2 class="font_2" style="font-size:16px">
                    <span style="font-size:16px">
                      <span style="font-family:futura-lt-w01-book,sans-serif">
                        <span style="color:#292929">Acompanhe o projeto</span>
                      </span>
                    </span>
                  </h2>
                </div>
                <div id="comp-km1g2beb" class="_1Z_nJ" data-testid="richTextElement">
                  <h2 class="font_2" style="font-size:16px">
                    <span style="font-size:16px">
                      <span style="font-family:futura-lt-w01-book,sans-serif">
                        <span style="color:#292929">Participe de nossa rede</span>
                      </span>
                    </span>
                  </h2>
                </div>
                <div id="comp-km1g63d4" style="left: 20px; width: 200px;">
                  <a data-testid="linkElement" class="StylableButton1196941481__root style-km1g6o2s__root StylableButton1196941481__link" aria-label="Apontar um problema" (click)="menuAdministrativo()">
                    <div class="StylableButton1196941481__container">
                      <span class="StylableButton1196941481__label" data-testid="stylablebutton-label">Acesso Restrito</span>
                      <span class="StylableButton1196941481__icon" aria-hidden="true">
                        <div>
                          <svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                            <g>
                              <path d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
                            </g>
                          </svg>
                        </div>
                      </span>
                    </div>
                  </a>
                </div>
                <div id="comp-km1g63d4">
                  <a data-testid="linkElement" class="StylableButton1196941481__root style-km1g6o2s__root StylableButton1196941481__link" aria-label="Apontar um problema" (click)="menuUsuario(0)">
                    <div class="StylableButton1196941481__container">
                      <span class="StylableButton1196941481__label" data-testid="stylablebutton-label">Apontar um problema</span>
                      <span class="StylableButton1196941481__icon" aria-hidden="true">
                        <div>
                          <svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                            <g>
                              <path d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
                            </g>
                          </svg>
                        </div>
                      </span>
                    </div>
                  </a>
                </div>
                <div id="comp-khntysn6" class="_1lRal">
                  <div class="_2iB5S"></div>
                  <div data-mesh-id="comp-khntysn6inlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="comp-khntysn6inlineContent-gridContainer" data-testid="mesh-container-content"></div>
                  </div>
                </div>
                <div id="comp-khnthz3m" class="_1Z_nJ" data-testid="richTextElement">
                  <p class="font_7" style="font-size:17px"><span style="font-family:avenir-lt-w01_35-light1475496,sans-serif">O ideiaUCS faz parte do UCSiNOVA, um hub de fomento ao empreendedorismo e inovação no ecossistema da Serra Gaúcha. Queremos conectar pessoas, processos e estruturas com vistas a promover o desenvolvimento de soluções para os problemas da região. Você é convidado a fazer parte de tudo isso.&nbsp;</span></p>
                </div>
                <div id="comp-khntl2zh" class="_1Z_nJ" data-testid="richTextElement">
                  <h2 class="font_2" style="font-size: 176px; line-height: 1em;">
                    <span style="font-size:176px;">
                      <span style="font-family:ahmedltw20-outlineregul,fantasy">
                        <span style="color:#3DD2FF">
                          <span style="font-weight:bold">HUB</span>
                        </span>
                      </span>
                    </span>
                  </h2>
                </div>
                <div id="comp-km1g7jqu">
                  <a data-testid="linkElement" class="StylableButton1196941481__root style-km1g7jrj2__root StylableButton1196941481__link" aria-label="Compartilhar uma ideia" (click)="menuUsuario(1)">
                    <div class="StylableButton1196941481__container">
                      <span class="StylableButton1196941481__label" data-testid="stylablebutton-label">Compartilhar uma ideia</span>
                      <span class="StylableButton1196941481__icon" aria-hidden="true">
                        <div>
                          <svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                            <g>
                              <path d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
                            </g>
                          </svg>
                        </div>
                      </span>
                    </div>
                  </a>
                </div>
                <div id="comp-km1g8g2j">
                  <a data-testid="linkElement" class="StylableButton1196941481__root style-km1g8g3g2__root StylableButton1196941481__link" aria-label="Quero ajudar" (click)="menuUsuario(2)">
                    <div class="StylableButton1196941481__container">
                      <span class="StylableButton1196941481__label" data-testid="stylablebutton-label">Quero ajudar</span>
                      <span class="StylableButton1196941481__icon" aria-hidden="true">
                        <div>
                          <svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                            <g>
                              <path d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
                            </g>
                          </svg>
                        </div>
                      </span>
                    </div>
                  </a>
                </div>
                <div id="comp-km2dhvjh" class="_1Z_nJ" data-testid="richTextElement">
                  <h2 class="font_2" style="font-size:16px">
                    <span style="font-size:16px">
                      <span style="font-family:futura-lt-w01-book,sans-serif">
                        <span style="color:#292929">Um caminho para a inovação</span>
                      </span>
                    </span>
                  </h2>
                </div>








                <!-- Idéias -->
                <div class="ideiaTitle _1Z_nJ">
                  <h1 class="font_0 ideiaTitleH1">Ideias em destaque</h1>
                </div>
                <ng-scrollbar appearance="compact" class="ideiaTable" style="max-height: 400px; height: 400px;" [autoHeightDisabled]="true" [autoWidthDisabled]="true" [sensorDisabled]="true">
                  <div scrollViewport infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onIdeiaScroll()">
                    <table>
                      <tbody>
                        <tr *ngFor="let ideia of ideias">
                          <td class="_1Z_nJ">
                            <div class="ideiaTableDiv row">
                              <div class="col-6">
                                <p class="font_8" style="font-size: 23px; line-height: 1.3em;">
                                  <span style="font-size:23px;">
                                    <span style="letter-spacing:0.03em">
                                      <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif">
                                        <span style="color:#000000">{{getStringRezise(ideia.desIdeia)}}</span>
                                      </span>
                                    </span>
                                  </span>
                                </p>
                              </div>
                              <div class="col-3">
                                <mwl-gauge class="two gaugepontuacaototalInitial" [max]="500" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [showValue]="true" [value]="ideia.numPontuacaoGeral" [animated]="true" [animationDuration]="1">
                                </mwl-gauge>
                              </div>
                              <div class="col-1">
                                {{ideia.numLikes}}
                                <button class="btn btn-secondary" (click)="likeClick(ideia)">Like</button>
                              </div>
                              <div class="col-2">
                                <button class="btn btn-secondary">Apoiar</button>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-scrollbar>



                <!--<div id="comp-km2ej179" class="_1lRal">
                  <div class="_2iB5S"></div>
                  <div data-mesh-id="comp-km2ej179inlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="comp-km2ej179inlineContent-gridContainer" data-testid="mesh-container-content">
                      <div id="comp-km2dnyz5" class="_1Z_nJ" data-testid="richTextElement">
                        
                      </div>
                      <div id="comp-km2e28fs" class="_1mp3l">
                        <div class="_2sExb"></div>
                        <div data-mesh-id="comp-km2e28fsinlineContent" data-testid="inline-content" class="">
                          <div data-mesh-id="comp-km2e28fsinlineContent-gridContainer" data-testid="mesh-container-content">
                            <div id="comp-km2ef6fb" class="_1Z_nJ" data-testid="richTextElement">
                              <h1 class="font_0" style="font-size: 28px;"><span style="font-size:28px;">67%</span></h1>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="comp-km2e68m2" class="">
                  <div data-testid="svgRoot-comp-km2e68m2" class="_36XXs _3Qjwl">
                    <svg preserveAspectRatio="xMidYMid meet" data-bbox="27.5 24.5 145 151" viewBox="27.5 24.5 145 151" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="color" role="img">
                      <g>
                        <path d="M166.82 92.908c-4.907-6.392-12.402-9.912-21.097-9.912h-15.146c6.23-13.612 6.442-33.453 1.485-45.221-3.609-8.563-9.786-13.275-17.398-13.275-2.065 0-4.226.362-6.425 1.067C97.378 29.064 96.97 37.703 96.61 45.321c-.525 11.074-1.32 27.359-29.535 48.386V83.144H27.5v90.882h39.575v-11.241c6.772 6.125 16.413 12.715 26.557 12.715h45.764c9.546 0 18.961-7.209 21.44-16.41l10.278-38.174c2.838-10.55 1.275-20.76-4.294-28.008zM56.546 163.515H38.029V93.66h18.518l-.001 69.855zm104.396-45.33l-10.278 38.176c-1.237 4.598-6.501 8.625-11.269 8.625H93.632c-9.948 0-21.633-11.478-26.557-17.341v-41.027c38.409-26.049 39.433-47.737 40.053-60.801.38-8.062.829-9.112 4.341-10.246 1.153-.371 2.23-.557 3.196-.557 3.193 0 5.778 2.302 7.69 6.838 5.25 12.462 2.515 34.824-5.228 42.724l-8.754 8.931h37.35c5.424 0 9.831 2.003 12.74 5.796 3.559 4.637 4.463 11.515 2.479 18.882z" fill="#4854C7" data-color="1"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div id="comp-km2dun5b">
                  <button type="button" class="StylableButton1196941481__root stButton1__root" data-testid="buttonContent" aria-label="Quero apoiar">
                    <div class="StylableButton1196941481__container">
                      <span class="StylableButton1196941481__label" data-testid="stylablebutton-label">Quero apoiar</span>
                      <span class="StylableButton1196941481__icon" aria-hidden="true">
                        <div>
                          <svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                            <g>
                              <path d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
                            </g>
                          </svg>
                        </div>
                      </span>
                    </div>
                  </button>
                </div>
                <div id="comp-km2ebkgj" class="_1Z_nJ" data-testid="richTextElement">
                  <h1 class="font_0" style="font-size: 22px;"><span style="font-size:22px;">281</span></h1>
                </div>
                <div id="comp-km2el2sk" class="_1lRal">
                  <div class="_2iB5S"></div>
                  <div data-mesh-id="comp-km2el2skinlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="comp-km2el2skinlineContent-gridContainer" data-testid="mesh-container-content">
                      <div id="comp-km2dqltt" class="_1Z_nJ" data-testid="richTextElement">
                        <p class="font_8" style="font-size:23px; line-height:1.3em">
                          <span style="font-size:23px">
                            <span style="letter-spacing:0.03em">
                              <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif">
                                <span style="color:#000000">Sistema de estacionamentos inteligentes</span>
                              </span>
                            </span>
                          </span>
                        </p>
                      </div>
                      <div id="comp-km2ecgqt" class="_1Z_nJ" data-testid="richTextElement">
                        <h1 class="font_0" style="font-size:22px"><span style="font-size:22px">345</span></h1>
                      </div>
                      <div id="comp-km2dvzp3">
                        <button type="button" class="StylableButton1196941481__root stButton1__root" data-testid="buttonContent" aria-label="Quero apoiar">
                          <div class="StylableButton1196941481__container">
                            <span class="StylableButton1196941481__label" data-testid="stylablebutton-label">Quero apoiar</span><span class="StylableButton1196941481__icon" aria-hidden="true">
                              <div>
                                <svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                                  <g>
                                    <path d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
                                  </g>
                                </svg>
                              </div>
                            </span>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="comp-km2ea5bn" class="_1mp3l">
                  <div class="_2sExb"></div>
                  <div data-mesh-id="comp-km2ea5bninlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="comp-km2ea5bninlineContent-gridContainer" data-testid="mesh-container-content">
                      <div id="comp-km2efwzf" class="_1Z_nJ" data-testid="richTextElement">
                        <h1 class="font_0" style="font-size:28px">
                          <span style="font-size:28px">48%</span>
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="comp-km2e6f21" class="">
                  <div data-testid="svgRoot-comp-km2e6f21" class="_36XXs _3Qjwl">
                    <svg preserveAspectRatio="xMidYMid meet" data-bbox="27.5 24.5 145 151" viewBox="27.5 24.5 145 151" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="color" role="img">
                      <g>
                        <path d="M166.82 92.908c-4.907-6.392-12.402-9.912-21.097-9.912h-15.146c6.23-13.612 6.442-33.453 1.485-45.221-3.609-8.563-9.786-13.275-17.398-13.275-2.065 0-4.226.362-6.425 1.067C97.378 29.064 96.97 37.703 96.61 45.321c-.525 11.074-1.32 27.359-29.535 48.386V83.144H27.5v90.882h39.575v-11.241c6.772 6.125 16.413 12.715 26.557 12.715h45.764c9.546 0 18.961-7.209 21.44-16.41l10.278-38.174c2.838-10.55 1.275-20.76-4.294-28.008zM56.546 163.515H38.029V93.66h18.518l-.001 69.855zm104.396-45.33l-10.278 38.176c-1.237 4.598-6.501 8.625-11.269 8.625H93.632c-9.948 0-21.633-11.478-26.557-17.341v-41.027c38.409-26.049 39.433-47.737 40.053-60.801.38-8.062.829-9.112 4.341-10.246 1.153-.371 2.23-.557 3.196-.557 3.193 0 5.778 2.302 7.69 6.838 5.25 12.462 2.515 34.824-5.228 42.724l-8.754 8.931h37.35c5.424 0 9.831 2.003 12.74 5.796 3.559 4.637 4.463 11.515 2.479 18.882z" fill="#4854C7" data-color="1"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div id="comp-km2elb3e" class="_1lRal">
                  <div class="_2iB5S"></div>
                  <div data-mesh-id="comp-km2elb3einlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="comp-km2elb3einlineContent-gridContainer" data-testid="mesh-container-content">
                      <div id="comp-km2dr51p" class="_1Z_nJ" data-testid="richTextElement">
                        <p class="font_8" style="font-size:23px; line-height:1.3em">
                          <span style="font-size:23px">
                            <span style="letter-spacing:0.03em">
                              <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif">
                                <span style="color:#000000">Tecnologias assistivas para deficientes visuais</span>
                              </span>
                            </span>
                          </span>
                        </p>
                      </div>
                      <div id="comp-km2dwjlm">
                        <button type="button" class="StylableButton1196941481__root stButton1__root" data-testid="buttonContent" aria-label="Quero apoiar">
                          <div class="StylableButton1196941481__container">
                            <span class="StylableButton1196941481__label" data-testid="stylablebutton-label">Quero apoiar</span>
                            <span class="StylableButton1196941481__icon" aria-hidden="true">
                              <div>
                                <svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                                  <g>
                                    <path d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
                                  </g>
                                </svg>
                              </div>
                            </span>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="comp-km2eaayv" class="_1mp3l">
                  <div class="_2sExb"></div>
                  <div data-mesh-id="comp-km2eaayvinlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="comp-km2eaayvinlineContent-gridContainer" data-testid="mesh-container-content">
                      <div id="comp-km2egiwa" class="_1Z_nJ" data-testid="richTextElement">
                        <h1 class="font_0" style="font-size:28px">
                          <span style="font-size:28px">25%</span>
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="comp-km2e8khl" class="">
                  <div data-testid="svgRoot-comp-km2e8khl" class="_36XXs _3Qjwl">
                    <svg preserveAspectRatio="xMidYMid meet" data-bbox="27.5 24.5 145 151" viewBox="27.5 24.5 145 151" height="200" width="200" xmlns="http://www.w3.org/2000/svg" data-type="color" role="img">
                      <g>
                        <path d="M166.82 92.908c-4.907-6.392-12.402-9.912-21.097-9.912h-15.146c6.23-13.612 6.442-33.453 1.485-45.221-3.609-8.563-9.786-13.275-17.398-13.275-2.065 0-4.226.362-6.425 1.067C97.378 29.064 96.97 37.703 96.61 45.321c-.525 11.074-1.32 27.359-29.535 48.386V83.144H27.5v90.882h39.575v-11.241c6.772 6.125 16.413 12.715 26.557 12.715h45.764c9.546 0 18.961-7.209 21.44-16.41l10.278-38.174c2.838-10.55 1.275-20.76-4.294-28.008zM56.546 163.515H38.029V93.66h18.518l-.001 69.855zm104.396-45.33l-10.278 38.176c-1.237 4.598-6.501 8.625-11.269 8.625H93.632c-9.948 0-21.633-11.478-26.557-17.341v-41.027c38.409-26.049 39.433-47.737 40.053-60.801.38-8.062.829-9.112 4.341-10.246 1.153-.371 2.23-.557 3.196-.557 3.193 0 5.778 2.302 7.69 6.838 5.25 12.462 2.515 34.824-5.228 42.724l-8.754 8.931h37.35c5.424 0 9.831 2.003 12.74 5.796 3.559 4.637 4.463 11.515 2.479 18.882z" fill="#4854C7" data-color="1"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div id="comp-km2ecmhz" class="_1Z_nJ" data-testid="richTextElement">
                  <h1 class="font_0" style="font-size:22px">
                    <span style="font-size:22px">222</span>
                  </h1>
                </div>-->






                <!-- Problemas -->
                <div class="problemaTitle _1Z_nJ">
                  <h1 class="font_0 problemaTitleH1">Problemas</h1>
                </div>
                <ng-scrollbar appearance="compact" class="problemaTable" style="max-height: 250px; height: 250px;" [autoHeightDisabled]="true" [autoWidthDisabled]="true" [sensorDisabled]="true">
                  <div scrollViewport infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onProblemaScroll()">
                    <table>
                      <tbody>
                        <tr *ngFor="let problema of problemas">
                          <td class="_1Z_nJ">
                            <h2 class="font_2 problemaTableH2">
                              <span class="problemaTableSpan">{{getStringRezise(problema.desProblema)}}</span>
                            </h2>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-scrollbar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<br>
<br>
<br>