body:not(.responsive) ._1bOh_ {
    width: 0 !important;
    min-width: 0 !important
}

body:not(.responsive) ._1bOh_ ._1HJvm {
    margin-left: calc(-0.5*var(--lnw, 3px));
    width: 100%
}

body.overflowHidden {
    overflow: hidden
}

html.device-phone body {
    overflow-y: auto
}

html.device-mobile-optimized.device-android {
    margin-bottom: 1px
}

body.device-mobile-optimized {
    overflow-x: hidden;
    overflow-y: scroll
}

body.device-mobile-optimized>* {
    max-width: 100% !important
}

body.device-mobile-non-optimized.fullScreenMode {
    background-color: #5f6360
}

body.fullScreenMode {
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

body.fullScreenMode.device-mobile-optimized #TINY_MENU {
    opacity: 0;
    pointer-events: none
}

body.fullScreenMode-scrollable.device-mobile-optimized {
    overflow-x: hidden !important;
    overflow-y: auto !important
}

body.blockSiteScrolling {
    position: fixed;
    width: 100%;
    overflow: hidden
}

.textoTop {
    position: relative;
    margin: 0px 0px 19px calc((100% - 980px) * 0.5);
    left: 578px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
    width: 302px;
    height: 91px;
}

.textoTopP {
    font-size: 15px;
    line-height: 1.3em;
}

.textoTopSpan {
    letter-spacing: 0.03em;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    font-size: 15px;
    color: #000000;
}

._1bOh_ ._1HJvm {
    border-left: var(--lnw, 3px) solid rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1));
    height: 100%
}

.linhaInovacao {
    --lnw: 1px;
    --brd: 61, 210, 255;
    --mrg: 1px;
    --alpha-brd: 1
}

.linhaInovacao {
    position: relative;
    margin: 7px 0px -3px calc((100% - 980px) * 0.5);
    left: 601px;
    grid-area: 6 / 1 / 10 / 2;
    justify-self: start;
    align-self: start;
    width: 5px;
    height: 132px;
}

.bolinhaInova1 {
    --brw: 2px;
    --brd: 61, 210, 255;
    --bg: 61, 210, 255;
    --shd: none;
    --alpha-bg: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 31, 105, 128;
}

.bolinhaInova1 {
    position: relative;
    margin: 2px 0px 22px calc((100% - 980px) * 0.5);
    left: 591px;
    grid-area: 6 / 1 / 7 / 2;
    justify-self: start;
    align-self: start;
    width: 20px;
}

.bolinhaInova2 {
    --brw: 2px;
    --brd: 61, 210, 255;
    --bg: 61, 210, 255;
    --shd: none;
    --alpha-bg: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 31, 105, 128;
}

.bolinhaInova2 {
    position: relative;
    margin: 2px 0px 24px calc((100% - 980px) * 0.5);
    left: 591px;
    grid-area: 7 / 1 / 8 / 2;
    justify-self: start;
    align-self: start;
    width: 20px;
}

.bolinhaInova3 {
    --brw: 2px;
    --brd: 61, 210, 255;
    --bg: 61, 210, 255;
    --shd: none;
    --alpha-bg: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 31, 105, 128;
}

.bolinhaInova3 {
    position: relative;
    margin: 3px 0px 26px calc((100% - 980px) * 0.5);
    left: 591px;
    grid-area: 8 / 1 / 9 / 2;
    justify-self: start;
    align-self: start;
    width: 20px;
}

.bolinhaInova4 {
    --brw: 2px;
    --brd: 61, 210, 255;
    --bg: 61, 210, 255;
    --shd: none;
    --alpha-bg: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 31, 105, 128;
}

.bolinhaInova4 {
    position: relative;
    margin: 3px 0px 0 calc((100% - 980px) * 0.5);
    left: 591px;
    grid-area: 10 / 1 / 11 / 2;
    justify-self: start;
    align-self: start;
    width: 20px;
}

.textCaminhoInovacao {
    position: relative;
    margin: 0px 0px 14px calc((100% - 980px) * 0.5);
    left: 591px;
    grid-area: 4 / 1 / 5 / 2;
    justify-self: start;
    align-self: start;
    width: 258px;
    height: 22px;
}

.textRegistreIdeia {
    position: relative;
    margin: 0px 0px 21px calc((100% - 980px) * 0.5);
    left: 622px;
    grid-area: 6 / 1 / 7 / 2;
    justify-self: start;
    align-self: start;
    width: 258px;
    height: 22px;
}

.textCadastresePlataforma {
    position: relative;
    margin: 0px 0px 23px calc((100% - 980px) * 0.5);
    left: 622px;
    grid-area: 7 / 1 / 8 / 2;
    justify-self: start;
    align-self: start;
    width: 258px;
    height: 22px;
}

.textAcompanheProjeto {
    position: relative;
    margin: 0px 0px 26px calc((100% - 980px) * 0.5);
    left: 622px;
    grid-area: 8 / 1 / 9 / 2;
    justify-self: start;
    align-self: start;
    width: 258px;
    height: 22px;
}

.textParticipeNossaRede {
    position: relative;
    margin: 0px 0px 0 calc((100% - 980px) * 0.5);
    left: 622px;
    grid-area: 10 / 1 / 11 / 2;
    justify-self: start;
    align-self: start;
    width: 258px;
    height: 22px;
}

.textRedeH2 {
    font-size: 16px;
}

.textRedeSpan {
    font-size: 16px;
    font-family: futura-lt-w01-book, sans-serif;
    color: #292929;
}

.ideiaTableButtonQueroAjudar {
    position: relative;
    margin: 21px 0px 9px calc((100% - 980px) * 0.5);
    left: 738px;
    grid-area: 12 / 1 / 13 / 2;
    justify-self: start;
    align-self: start;
    width: 235px;
    height: 40px;
    transition: all 0.2s ease, visibility 0s;
    background: #3DD2FF;
    border: 1px solid #3DD2FF;
    border-radius: 0;
    letter-spacing: 0.1em;
    font-family: proxima-n-w01-reg, sans-serif;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    color: #2E2E2E
}

.ideiaTableButtonQueroAjudar:hover {
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    color: #000000;
}

.ideiaTableButtonQueroAjudar:hover,
.ideiaTableButtonQueroAjudar:focus,
.ideiaTableButtonQueroAjudar:active,
.ideiaTableButtonQueroAjudar:visited {
    outline: none !important;
    text-decoration: none;
    box-shadow: none;
}

.ideiaTableButtonCompartilharIdeia {
    position: relative;
    margin: 21px 0px 9px calc((100% - 980px) * 0.5);
    left: 494px;
    grid-area: 12 / 1 / 13 / 2;
    justify-self: start;
    align-self: start;
    width: 235px;
    height: 40px;
    transition: all 0.2s ease, visibility 0s;
    background: #3DD2FF;
    border: 1px solid #3DD2FF;
    border-radius: 0;
    letter-spacing: 0.1em;
    font-family: proxima-n-w01-reg, sans-serif;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    color: #2E2E2E
}

.ideiaTableButtonCompartilharIdeia:hover {
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    color: #000000;
}

.ideiaTableButtonCompartilharIdeia:hover,
.ideiaTableButtonCompartilharIdeia:focus,
.ideiaTableButtonCompartilharIdeia:active,
.ideiaTableButtonCompartilharIdeia:visited {
    outline: none !important;
    text-decoration: none;
    box-shadow: none;
}

.ideiaTableButtonApontarProblema {
    position: relative;
    margin: 21px 0px 9px calc((100% - 980px) * 0.5);
    left: 250px;
    grid-area: 12 / 1 / 13 / 2;
    justify-self: start;
    align-self: start;
    width: 235px;
    height: 40px;
    transition: all 0.2s ease, visibility 0s;
    background: #3DD2FF;
    border: 1px solid #3DD2FF;
    border-radius: 0;
    letter-spacing: 0.1em;
    font-family: proxima-n-w01-reg, sans-serif;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    color: #2E2E2E
}

.ideiaTableButtonApontarProblema:hover {
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    color: #000000;
}

.ideiaTableButtonApontarProblema:hover,
.ideiaTableButtonApontarProblema:focus,
.ideiaTableButtonApontarProblema:active,
.ideiaTableButtonApontarProblema:visited {
    outline: none !important;
    text-decoration: none;
    box-shadow: none;
}

.ideiaTableButtonAcessoRestrito {
    position: relative;
    margin: 21px 0px 9px calc((100% - 980px) * 0.5);
    left: 7px;
    grid-area: 12 / 1 / 13 / 2;
    justify-self: start;
    align-self: start;
    width: 235px;
    height: 40px;
    transition: all 0.2s ease, visibility 0s;
    background: #3DD2FF;
    border: 1px solid #3DD2FF;
    border-radius: 0;
    letter-spacing: 0.1em;
    font-family: proxima-n-w01-reg, sans-serif;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    color: #2E2E2E
}

.ideiaTableButtonAcessoRestrito:hover {
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    color: #000000;
}

.ideiaTableButtonAcessoRestrito:hover,
.ideiaTableButtonAcessoRestrito:focus,
.ideiaTableButtonAcessoRestrito:active,
.ideiaTableButtonAcessoRestrito:visited {
    outline: none !important;
    text-decoration: none;
    box-shadow: none;
}

.backgroundButtons {
    --stroke-width: 0;
    --fill-opacity: 1;
    --stroke: #000000;
    --stroke-opacity: 1;
    --fill: #2F2E2E;
}

.backgroundButtons {
    position: relative;
    margin: 13px 0px 0 calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 12 / 1 / 13 / 2;
    justify-self: start;
    align-self: start;
    width: 980px;
    height: 57px;
}

.textideiaHub {
    --f0: var(--font_0);
    --f1: var(--font_1);
    --f10: var(--font_10);
    --f2: var(--font_2);
    --f3: var(--font_3);
    --f4: var(--font_4);
    --f5: var(--font_5);
    --f6: var(--font_6);
    --f7: var(--font_7);
    --f8: var(--font_8);
    --f9: var(--font_9);
    min-height: 176px;
    height: auto
}

.textideiaHub {
    position: relative;
    margin: 0px 0px 12px calc((100% - 980px) * 0.5);
    left: 243px;
    grid-area: 13 / 1 / 16 / 2;
    justify-self: start;
    align-self: start;
    width: 296px;
    height: 208px;
    z-index: -1;
}

.textideiaHubH2 {
    font-size: 176px;
    line-height: 1em;
}

.textideiaHubSpan {
    font-weight: bold;
    font-size: 176px;
    font-family: ahmedltw20-outlineregul, fantasy;
    color: #3DD2FF
}

.textideiaUcs {
    position: relative;
    margin: 34px 0px 49px calc((100% - 980px) * 0.5);
    left: 539px;
    grid-area: 13 / 1 / 14 / 2;
    justify-self: start;
    align-self: start;
    width: 423px;
    height: 120px
}

.textideiaUcsContent {
    font-size: 17px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.ideiaTitle {
    width: 1000px;
    height: 43px;
    position: relative;
    margin: 0px 0px 19px calc((100% - 980px) * 0.5);
    left: 6px;
    grid-area: 17 / 1 / 18 / 2;
    justify-self: start;
    align-self: start;
}

.ideiaTitleH1 {
    font-size: 40px;
}

.ideiaTable {
    width: 1000px;
    position: relative;
    margin: 0px 0px 11px calc((100% - 980px) * 0.5);
    left: 6px;
    grid-area: 18 / 1 / 21 / 2;
    justify-self: start;
    align-self: start
}

.ideiaTableDiv {
    border: 1px solid brown;
    margin-right: 10px !important;
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 0px !important;
}

.ideiaTableButtonApoiar {
    border: 1px solid #000000;
    background: #000000;
    border-radius: 0;
    width: 100%;
    transition: all 0.2s ease, visibility 0s;
    margin: 0px 4px 0px 0px;
    letter-spacing: 0.1em;
    font-family: proxima-n-w01-reg, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
    font-size: 14px;
}

.ideiaTableButtonApoiar:hover {
    background: #FFFFFF;
    color: #000000;
}

.ideiaTableButtonApoiar:hover,
.ideiaTableButtonApoiar:focus,
.ideiaTableButtonApoiar:active,
.ideiaTableButtonApoiar:visited {
    outline: none !important;
    text-decoration: none;
    box-shadow: none;
}

.ideiaTableP {
    font-size: 23px;
    line-height: 1.3em;
    padding-right: 5px;
    top: 50%;
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ideiaTableSpan {
    font-size: 23px;
    letter-spacing: 0.03em;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    color: #000000;
}

.problemaTitle {
    width: 1000px;
    height: 43px;
    position: relative;
    margin: 20px 0px 9px calc((100% - 980px) * 0.5);
    left: 6px;
    grid-area: 25 / 1 / 26 / 2;
    justify-self: start;
    align-self: start;
}

.problemaTitleH1 {
    font-size: 40px;
}

.problemaTable {
    width: 1000px;
    position: relative;
    margin: 0px 0px 16px calc((100% - 980px) * 0.5);
    left: 6px;
    grid-area: 26 / 1 / 27 / 2;
    justify-self: start;
    align-self: start;
}

.problemaTableH2 {
    padding: 5px 0;
    font-size: 30px;
}

.problemaTableSpan {
    font-size: 30px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    color: #292929;
    letter-spacing: 0.03em;
}

.textCenter {
    text-align: center;
}

.paddingZero {
    padding: 0 !important;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.imgLike {
    cursor: pointer;
}

.compLine {
    position: relative;
    margin: 0px 0px 12px calc((100% - 980px) * 0.5);
    left: -115px;
    grid-area: 14 / 1 / 15 / 2;
    justify-self: start;
    align-self: start
}

.compLineContent {
    --brw: 0px;
    --brd: var(--color_14);
    --bg: 61, 210, 255;
    --rd: 0px;
    --shd: none;
    --alpha-bg: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 31, 105, 128
}

.compLineContent {
    border: var(--container-corvid-border-width, var(--brw, 1px)) solid var(--container-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)));
    background-color: var(--container-corvid-background-color, rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1)));
    border-radius: var(--rd, 5px);
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 5px;
    width: 1210px;
}

._1mp3l {
    --container-corvid-border-color: rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1));
    --container-corvid-border-size: var(--brw, 3px);
    --container-corvid-background-color: rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
}

._2sExb {
    border: var(--container-corvid-border-width, var(--brw, 3px)) solid var(--container-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)));
    background-color: var(--container-corvid-background-color, rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1)));
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%
}

[data-mesh-id=Containeri3ordinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 1416px;
    margin-top: -48px;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content 1fr;
    grid-template-columns: 100%;
    padding-bottom: 0px;
    box-sizing: border-box
}

[data-mesh-id=comp-khme63d5inlineContent] {
    height: auto;
    width: 100%;
    position: static;
    min-height: 19px
}

[data-mesh-id=comp-khme62yvinlineContent] {
    height: auto;
    width: 100%;
    position: static;
    min-height: 19px
}

[data-mesh-id=comp-km1fz8hxinlineContent] {
    height: auto;
    width: 100%;
    position: static;
    min-height: 19px
}

[data-mesh-id=comp-km1fze7qinlineContent] {
    height: auto;
    width: 100%;
    position: static;
    min-height: 19px
}

[data-mesh-id=Containeri3ordinlineContent-gridContainer]>[id="comp-km1fk9pl"] {
    position: relative;
    margin: 0px 0px -34px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 2 / 1 / 12 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=Containeri3ordinlineContent-gridContainer]>[id="comp-km1ey0v8"] {
    position: relative;
    margin: 55px 0px 12px calc((100% - 980px) * 0.5);
    left: 14px;
    grid-area: 1 / 1 / 3 / 2;
    justify-self: start;
    align-self: start
}

[data-mesh-id=Containeri3ordinlineContent] {
    height: auto;
    width: 100%;
    display: flex
}

#comp-km1ey0v8 {
    width: 239px;
    height: 51px
}

#comp-km1fk9pl {
    width: 539px;
    height: 376px
}

#comp-km1fk9pl {
    --contentPaddingLeft: 0px;
    --contentPaddingRight: 0px;
    --contentPaddingTop: 0px;
    --contentPaddingBottom: 0px;
    --height: 376px;
    --width: 539px
}

:focus {
    outline: none
}

[data-mesh-id$=centeredContent],
[data-mesh-id$=form],
[data-mesh-id$=inlineContent] {
    position: relative;
    pointer-events: none
}

[data-mesh-id$=-gridWrapper],
[data-mesh-id$=-rotated-wrapper] {
    pointer-events: none
}

[data-mesh-id$=-gridContainer]>*,
[data-mesh-id$=-rotated-wrapper]>*,
[data-mesh-id$=inlineContent]> :not([data-mesh-id$=-gridContainer]) {
    pointer-events: auto
}

.auto-generated-link {
    color: inherit
}

body:not([data-js-loaded]) [data-hide-prejs] {
    visibility: hidden
}

#SCROLL_TO_BOTTOM,
#SCROLL_TO_TOP {
    height: 0
}

[data-z-counter] {
    z-index: 0
}

[data-z-counter="0"] {
    z-index: auto
}

#PAGES_CONTAINER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    --pinned-layer-in-container: 51;
    --above-all-in-container: 49
}

#SITE_PAGES {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px
}

#i3ord {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px
}

#i3ord {
    min-height: 1368px;
    width: auto
}

._36XXs {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: var(--opacity);
    fill: var(--fill);
    fill-opacity: var(--fill-opacity);
    stroke: var(--stroke);
    stroke-opacity: var(--stroke-opacity);
    stroke-width: var(--stroke-width);
    transform: var(--flip);
    filter: var(--drop-shadow, none)
}

._36XXs,
._36XXs svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

._36XXs svg {
    width: var(--svg-calculated-width, 100%);
    height: var(--svg-calculated-height, 100%);
    padding: var(--svg-calculated-padding, 0);
    margin: auto
}

@media not all and (min-resolution:0.001dpcm) {
    @supports (-webkit-appearance:none) {
        ._36XXs._1Bfd6 {
            will-change: filter
        }
    }
}

._3a3qX {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

._3a3qX>div {
    justify-self: stretch !important;
    align-self: stretch !important
}

._2HjkL {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

._2S9ms {
    height: auto;
    width: 100%;
    position: relative
}

body:not(.responsive) ._2e6ps {
    height: 100%;
    position: relative;
    left: 0;
    grid-area: 1/1/1/1;
    align-self: start;
    justify-self: stretch
}

body:not(.device-mobile-optimized) ._2HjkL {
    margin-left: calc((100% - var(--site-width)) / 2);
    width: var(--site-width)
}

body.device-mobile-optimized ._2HjkL {
    left: 10px;
    right: 10px
}