<br>
<br>
<br>
<br>
<br>
<div class="container" *ngIf="!newUser">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <span>
            <a (click)="socialsigin('facebook')" class="login100-social-item bg1">
              <i class="fa fa-facebook"></i>
            </a>
          </span>
          <span>
            <a (click)="socialsigin('gmail')" class="login100-social-item bg3">
              <i class="fa fa-google"></i>
            </a>
          </span>
        </div>
      </div>
      <div class="card-body">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="username" [(ngModel)]="username">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="password" [(ngModel)]="password">
        </div>
        <div class="form-group">
          <button (click)="login()">Login</button>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="#" (click)="createUser()">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="newUser">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
        </div>
      </div>
      <div class="card-body">
        <div class="input-group form-group">
          <img src="{{'data:image/jpg;base64,' + userimage}}" style="width: 100px;" />
          <label class="image-upload-container btn btn-bwm">
            <input #imageInput type="file" accept="image/jpeg" (change)="processFile(imageInput)">
          </label>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="username" [(ngModel)]="username">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="password" [(ngModel)]="password">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Fone" [(ngModel)]="fone">
        </div>
        <div class="form-group">
          <button (click)="create()">Criar</button>
          <button (click)="cancel()">Cancelar</button>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>