<br>
<br>
<br>
<div class="container" *ngIf="!newUser">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Login</h3>
      </div>
      <div class="card-body">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Email" [(ngModel)]="username">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-key"></i>
            </span>
          </div>
          <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="password">
        </div>
        <div class="form-group">
          <button class="btn btn-secondary" (click)="login()">Entrar</button>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center social_icon">
          <span>
            <a (click)="socialsigin('facebook')" class="login100-social-item bg1">
              <img src="../../../assets/imagem-facebook.png" width="40px" height="40px">
            </a>
          </span>
          <span>
            <a (click)="socialsigin('gmail')" class="login100-social-item bg3">
              <img src="../../../assets/imagem-google.png" width="40px" height="40px">
            </a>
          </span>
        </div>
        <div class="d-flex justify-content-center links" style="color: white;">
          Não tem uma conta?<button class="btn btn-link" (click)="createUser()">Criar conta</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="newUser">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Criar conta</h3>
      </div>
      <div class="card-body">
        <div class="input-group form-group">
          <img src="{{'data:image/jpg;base64,' + userimage}}" class="imgAvatar" width="50px" height="50px" />
          <label class="image-upload-container btn btn-bwm">
            <input #file #imageInput type="file" accept="image/jpeg" (change)="processFile(imageInput)" style="display: none;">
            <button class="btn btn-secondary" (click)="file.click()">Upload imagem</button>
          </label>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Email" [(ngModel)]="username">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-phone"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Telefone para contato" [(ngModel)]="fone" mask="(00) 0000-0000||(00) 00000-0000">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-key"></i>
            </span>
          </div>
          <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="password">
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-key"></i>
            </span>
          </div>
          <input type="password" class="form-control" placeholder="Confirmar Senha" [(ngModel)]="confirmPassword">
        </div>
        <div class="form-group">
          <button class="btn btn-secondary" (click)="create()">Criar</button>&nbsp;
          <button class="btn btn-secondary" (click)="cancel()">Cancelar</button>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center social_icon">
          <span>
            <a (click)="socialsigin('facebook')" class="login100-social-item bg1">
              <img src="../../../assets/imagem-facebook.png" width="40px" height="40px">
            </a>
          </span>
          <span>
            <a (click)="socialsigin('gmail')" class="login100-social-item bg3">
              <img src="../../../assets/imagem-google.png" width="40px" height="40px">
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>