.content {
  min-height: 678px;
  height: 100%;
  max-height: calc(100% - 40px - 50px);
  padding: 0px 0px 0px;
  position: relative;
}

.container {
  height: 100%;
  align-content: center;
}

.content > .row {
  margin-bottom: 0px;
}

.content > .row.row-inherit,
.content > .row.row-inherit > .col{
  height: inherit;
}

.card {
  height: 450px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3 {
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border:0 !important;
}

input:focus {
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}

.social_icon span {
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.social_icon {
  text-align: center;
}

.links {
  margin-top: 5px;
  align-items: center;
}

.imgAvatarCss {
  float: right;
  margin-top: -40px;
  cursor: pointer;
}
