<div [ngStyle]="{'width': !changeText ? '60px' : '460px'}" style="float: left;">
  <ul class="accordion">
    <li class="tabs" (mouseover)="changeText=true" (mouseout)="changeText=false">
      <div class="social-links twitter-icon">
        <i class="fa fa-filter"></i>
      </div>
      <div class="paragraph" style="padding: 10px;">
        <div class="form-group">
          <button class="btn btn-secondary" (click)="openModalNew(template)">Criar Problema</button>
        </div>
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title">Filtros</h5>
            <div class="container filter-class">
              <div class="row">
                <div class="col-6" style="padding-left: 0px; padding-right: 2px;">
                  <label for="datainicial" class="form-label">Data inicial</label>
                  <div class="input-group form-group">
                    <input id="datainicial" type="date" class="form-control" [(ngModel)]="filtros.registrationDateIniSearch" placeholder="Data inicial" maxlength="10">
                  </div>
                </div>
                <div class="col-6" style="padding-left: 2px; padding-right: 0px;">
                  <label for="datafinal" class="form-label">Data inicial</label>
                  <div class="input-group form-group">
                    <input id="datafinal" type="date" class="form-control" [(ngModel)]="filtros.registrationDateEndSearch" placeholder="Data final" maxlength="10">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12" style="padding-left: 0px; padding-right: 0px;">
                  <label for="datafinal" class="form-label">Descrição do problema</label>
                  <div class="input-group form-group">
                    <input type="text" class="form-control" placeholder="..." maxlength="1000" [(ngModel)]="filtros.problemSearch">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12" style="padding-left: 0px; padding-right: 0px;">
                  <label class="form-label">Público que beneficia?</label>
                </div>
              </div>
              <div class="row">
                <div class="col-12" style="padding-left: 0px; padding-right: 0px;">
                  <input type="radio" [(ngModel)]="filtros.benefitTypeSearch" value="1" name="indTipoBeneficioFilter"> Empresa<br>
                  <input type="radio" [(ngModel)]="filtros.benefitTypeSearch" value="2" name="indTipoBeneficioFilter"> Consumidor<br>
                  <input type="radio" [(ngModel)]="filtros.benefitTypeSearch" value="3" name="indTipoBeneficioFilter"> Sociedade<br>
                  <input type="radio" [(ngModel)]="filtros.benefitTypeSearch" value="4" name="indTipoBeneficioFilter"> Governo<br>
                  <input type="radio" [(ngModel)]="filtros.benefitTypeSearch" value="" name="indTipoBeneficioFilter" checked> Todos<br>
                </div>
              </div>
              <div class="row">
                <div class="col-12" style="padding-left: 0px; padding-right: 0px; margin-top: 10px;">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="filtros.approvedSearch">
                    <label class="form-check-label" for="flexCheckDefault">
                      Somente aprovados
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12" style="padding-left: 0px; padding-right: 0px;">
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-12" style="padding-left: 0px; padding-right: 0px;">
                  <div class="form-group">
                    <button class="btn btn-secondary" (click)="search()">Pesquisar</button>
                    &nbsp;
                    <button class="btn btn-secondary" (click)="cleanFilters()">Limpar Filtros</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<div [ngStyle]="{'width': !changeText ? 'calc(100% - 60px)' : 'calc(100% - 460px)'}" style="float: left; padding-left: 10px;">
  <ngx-datatable class="bootstrap" [rows]="problemas" [columns]="colunas" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [columnMode]="ColumnMode.flex" [limit]="page.size" (page)="setPage($event)">
    <ngx-datatable-column name="desProblema" [sortable]="false" [cellClass]="'my-custom-cell-global'" [flexGrow]="2.8">
      <ng-template let-column="column" ngx-datatable-header-template> Descrição do Problema </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ getStringRezise(value) }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="desSolucao" [sortable]="false" [cellClass]="'my-custom-cell-global'" [flexGrow]="2.8">
      <ng-template let-column="column" ngx-datatable-header-template> Possível solução </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ getStringRezise(value) }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="indTipoBeneficio" [sortable]="false" [cellClass]="'my-custom-cell-global'" [flexGrow]="1.8">
      <ng-template let-column="column" ngx-datatable-header-template> Público que beneficia? </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ getTipoBeneficio(value) }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="indTipoSolucao" [sortable]="false" [cellClass]="'my-custom-cell-global'" [flexGrow]="2.2">
      <ng-template let-column="column" ngx-datatable-header-template> Qual o interesse na resolução? </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ getTipoSolucao(value) }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="indAprovado" [sortable]="false" [cellClass]="'my-custom-cell-global'" [flexGrow]="1">
      <ng-template let-column="column" ngx-datatable-header-template> Aprovado </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value == '1' ? 'Sim' : 'Não' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="id" [sortable]="false" [flexGrow]="1.5">
      <ng-template let-column="column" ngx-datatable-header-template> Ações </ng-template>
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <button class="btn btn-primary" (click)="openModalChange(row, template)" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil-square-o"></i></button>
        &nbsp;
        <button class="btn btn-danger" (click)="delete(value, templateexclusao)" data-toggle="tooltip" data-placement="top" title="Excluir"><i class="fa fa-trash"></i></button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Problema</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <perfect-scrollbar style="max-height: 550px;" fxFlex="auto" [config]="config" [scrollIndicators]="true">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Dados</h5>
          <div class="input-group mb-3">
            <label class="control-label col-md-12" style="padding-left: 0px;">Descrição do problema</label><br>
            <textarea class="form-control" placeholder="..." [(ngModel)]="problema.desProblema"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label col-md-12" style="padding-left: 0px;">A resolução deste problema beneficia a que público?</label><br>
            <input type="radio" [(ngModel)]="problema.indTipoBeneficio" value="1" name="indTipoBeneficioNew" id="indTipoBeneficio1"> Empresa<br>
            <input type="radio" [(ngModel)]="problema.indTipoBeneficio" value="2" name="indTipoBeneficioNew" id="indTipoBeneficio2"> Consumidor<br>
            <input type="radio" [(ngModel)]="problema.indTipoBeneficio" value="3" name="indTipoBeneficioNew" id="indTipoBeneficio3"> Sociedade<br>
            <input type="radio" [(ngModel)]="problema.indTipoBeneficio" value="4" name="indTipoBeneficioNew" id="indTipoBeneficio4"> Governo<br>
          </div>
          <div class="input-group mb-3">
            <label class="control-label col-md-12" style="padding-left: 0px;">Como você acha que esse problema seria resolvido?</label><br>
            <textarea class="form-control" placeholder="..." [(ngModel)]="problema.desSolucao"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label col-md-12" style="padding-left: 0px;">Qual é o seu interesse na resolução deste problema?</label><br>
            <input type="radio" [(ngModel)]="problema.indTipoSolucao" value="1" name="indTipoSolucao" id="indTipoSolucao1"> Sou empresário e este é um problema que encontro na minha empresa<br>
            <input type="radio" [(ngModel)]="problema.indTipoSolucao" value="2" name="indTipoSolucao" id="indTipoSolucao2"> Sou um consumidor e é um problema que gostaria de ver resolvido<br>
            <input type="radio" [(ngModel)]="problema.indTipoSolucao" value="3" name="indTipoSolucao" id="indTipoSolucao3"> É apenas algo que eu imaginei<br>
          </div>
          <div class="form-group">
            <label class="control-label col-md-12" style="padding-left: 0px;">Qual a probabilidade de você investir em uma ideia de negócio que solucionasse este problema?</label><br>
            <rating [max]="5" style="font-size: 30px;" [(ngModel)]="problema.numProbabilidadeInvestir"></rating>
          </div>
        </div>
      </div>
      <br>
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Anexos
            <div class="card-files-text">(Máx. 5 anexos)</div>
          </h5>
          <file-upload [(ngModel)]="uploadedFiles" name="arquivos" fileslimit="5" [accept]="'.jpeg,.jpg,.png,.pdf'"></file-upload>
          <div class="form-group" style="width: 100%; margin-top: 10px;">
            <button class="btn btn-secondary" (click)="importarArquivos()">Importar Arquivos</button>
          </div>
          <div class="form-group" style="width: 100%; margin-top: 10px;">
            <table class="table table-striped" *ngIf="files.length != 0">
              <thead>
                <th>Nome Arquivo</th>
                <th style="width: 150px;">Ações</th>
              </thead>
              <tbody>
                <tr *ngFor="let arquivo of files">
                  <td>{{arquivo.desNomeOriginal}}</td>
                  <td>
                    <button class="btn btn-primary" (click)="downloadFile(arquivo.desAnexo, arquivo.desNomeOriginal)"><i class="fa fa-download"></i></button>
                    &nbsp;
                    <button class="btn btn-danger" (click)="removeFile(arquivo.desNomeOriginal)"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <label class="control-label col-md-12 no-files" style="padding-left: 0px;" *ngIf="files.length == 0">Nenhum arquivo importado</label>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="form-group" style="width: 100%; margin-top: 10px; text-align: right;">
      <button class="btn btn-secondary" (click)="salvar()">Salvar</button>&nbsp;
      <button class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
    </div>
  </div>
</ng-template>

<ng-template #templateexclusao>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Exclusão</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefExclusao.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <perfect-scrollbar style="max-height: 550px;" fxFlex="auto" [config]="config" [scrollIndicators]="true">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          Tem certeza que deseja continuar?
        </div>
      </div>
    </perfect-scrollbar>
    <div class="form-group" style="width: 100%; margin-top: 10px; text-align: right;">
      <button class="btn btn-secondary" (click)="continuar()">Sim</button>&nbsp;
      <button class="btn btn-secondary" (click)="modalRefExclusao.hide()">Não</button>
    </div>
  </div>
</ng-template>